# Rust
/target/
**/*.rs.bk
Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# Windows
*.exe
*.dll
*.obj
*.pdb
*.idb
*.ilk
*.exp
*.lib
*.manifest
*.log

# Build
/release/
/debug/

# Local test files
/tmp/

# OS
.DS_Store
Thumbs.db
